{% extends "base.html.twig" %}

{% block body %}

    <h4 class="new-add">Formulaire d'inscription à remplir*</h4>
    <p class="p-sending">* Un email de confirmation vous sera envoyé</p>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="form">
    {{ form_widget(form) }}
    <input type='submit' value='Ajouter' class="btn-add">
    </div>
    {{ form_end(form) }}

    <p class="p-sending">* Un email de confirmation vous sera envoyé</p>
{% endblock %}