{% extends 'layoutEmail.html.twig' %}

{% block title %}Nouvelle inscription{% endblock %}

{% block content %}{% endblock %}

{% block body %}
    <h1> Félicitations !</h1>
    <p>Confirmation de votre inscription.</p>
    <h2>MA2FO Association</h2>
    
{% endblock %}
