{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="title"></div>
        <h1 class="home">MA2FO Association</h1>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <div class="home-activity">
        <h3 class="best-activity">Vos activités préférées...</h3>
        <div class="logo-activity">
            <div class="logo-soccer">
                <div class="img-soccer">
                    <img src="{{ asset('/build/images/logo-soccer.f8cff618.png') }}" alt="football"/>
                </div>
                <div class="btn-r">
                    <a class="register" href="{{path('player_new')}}">S'inscrire</a>
                </div>
            </div>
            <div class="logo-basket">
                <div class="img-basket">
                    <img src="{{ asset('/build/images/logo-basket2.9bc372f0.png') }}" alt="football"/>
                </div>
                <div class="btn-r">
                    <a class="register" href="{{path('player_new')}}">S'inscrire</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
