{% extends 'layoutEmail.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block content %}{% endblock %}

{% block body %}
    <h1> Une nouvelle catégorie sportive</h1>
    <p>Bonjour, la catégorie "{{ category.name }}" est arrivée chez MA2FO Association.</p>
    <h2>Inscrivez-vous !</h2>
    
{% endblock %}
