{% extends 'layoutEmail.html.twig' %}

{% block title %}Nouvelle activité{% endblock %}

{% block content %}{% endblock %}

{% block body %}
    <h1> Une nouvelle activité sportive</h1>
    <p>Bonjour, l'activité sportive "{{ activity.name }}" est arrivée chez MA2FO Association.</p>
    <h2>Inscrivez-vous !</h2>
    
{% endblock %}
