@import "~bootstrap/scss/bootstrap.scss";
@import "navbar.scss";

body {
    background-color: lightgray;
}

.title
{
	background-image: url(/public/build/images/homeMa2fo.7e54f2f8.png);
    background-repeat: no-repeat;
	height: 300px;
   
}

.home, .best-activity {
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 30px;
}

img .picture-activity {
    height: 50px;
    width: 50px;
}

form {
    width: 25%;
    margin: auto;
}

label {
    margin-bottom: 5px;
}

 input, select {
    margin-bottom: 10px;
}

.btn-add {
   margin-top: 10px;
   margin-bottom: 15px;
}

h4 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
} 

.p-sending {
    text-align: center;
    font-size: 15px;
}

.logo-activity {
    display: flex;
    justify-content: space-around;
    
}

.logo-soccer, .logo-basket {
    display: flex;
    flex-direction: column;
}

.menu {
    color: grey;
}

.menu:hover, .menu:active, .link-footer:hover:hover, .link-footer:active {
    color: #10B7C0;
}