<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active menu" aria-current="page" href="{{path('home_index')}}">Accueil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link menu" href="{{path('activity_index')}}">Nos activités</a>
  </li>
  <li class="nav-item">
    <a class="nav-link menu" href="{{path('player_new')}}">Inscription</a>
  </li>
  <li class="nav-item">
    <a class="nav-link menu" href="#" tabindex="-1" aria-disabled="true">Nous contacter</a>
  </li>
</ul>