<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
    {% block title %}{% endblock %}
    </title>
</head>
<body>
    {% block content %}
        <p><span>Des nouveautés chez MA2FO Association</span></p>
    {% endblock %}

    {% block body %}{% endblock %}
    
</body>
</html>